# APIs

### What is an API?
API is an abbreviation for Application Programming Interface which is a collection of communication protocols and subroutines used by various programs to communicate between them. A programmer can make use of various API tools to make their program easier and simpler. Also, an API facilitates programmers with an efficient way to develop their software programs. Thus in simpler terms, an API helps two programs or applications to communicate with each other by providing them with the necessary tools and functions. It takes the request from the user and sends it to the service provider and then again sends the result generated from the service provider to the desired user. 

A developer extensively uses APIs in her software to implement various features by using an API call without writing complex codes for the same. We can create an API for an operating system, database system, hardware system, JavaScript file, or similar object-oriented files. Also, an API is similar to a GUI(Graphical User Interface) with one major difference. Unlike GUIs, an API helps software developers to access web tools while a GUI helps to make a program easier to understand by users. 

### How do APIs Work?
The working of an API can be clearly explained with a few simple steps. Think of a client-server architecture where the client sends the request via a medium to the server and receives the response through the same medium. An API acts as a communication medium between two programs or systems for functioning. The client is the user/customer (who sends the request), the medium is the API, and the server is the backend (where the request is accepted and a response is provided). Steps followed in the working of APIs â€“

- The client initiates the requests via the APIs URI (Uniform Resource Identifier)
- The API makes a call to the server after receiving the request
- Then the server sends the response back to the API with the information
- Finally, the API transfers the data to the client

https://www.geeksforgeeks.org/what-is-an-api/

In [1]:
#Api del BCR

import requests
import pandas as pd
import json

In [3]:
#cod = "PN38706PM"

url = "https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN38705PM/json"

In [4]:
r = requests.get(url)

r.status_code

200

In [53]:
#help(requests)
data['periods'][0]['values'][0]

'100.037268'

In [31]:
#data = r.json()

['100.34884']

In [50]:
lista_fechas = []
lista_valores = []

for elem in data['periods']:
    lista_fechas.append(elem['name'])
    lista_valores.append(elem['values'][0])

In [51]:
df = pd.DataFrame()
df['fecha'] = lista_fechas
df['valores'] = lista_valores

df

       fecha     valores
0   Ene.2022  100.037268
1   Feb.2022   100.34884
2   Mar.2022  101.836672
3   Abr.2022  102.816232
4   May.2022  103.211072
5   Jun.2022  104.439931
6   Jul.2022  105.422597
7   Ago.2022  106.125283
8   Sep.2022  106.679849
9   Oct.2022  107.050724
10  Nov.2022  107.604861
11  Dic.2022  108.459162
12  Ene.2023  108.704764
13  Feb.2023  109.024924
14  Mar.2023  110.391537
15  Abr.2023  111.005592
16  May.2023  111.358436
17  Jun.2023  111.188314
18  Jul.2023  111.623134
19  Ago.2023  112.042985
20  Sep.2023  112.061363
21  Oct.2023  111.700024
22  Nov.2023  111.517885
23  Dic.2023    111.9704

In [ ]:
data = json.loads(r.text)
#pd.DataFrame.from_dict(data)
data['periods'][0]['name']

data['periods'][0]['values']