# Clase 3: Estructuras de datos en Python

<a class="anchor" id="tuplas"></a>

## Tuplas

Las tuplas comparten mucha similaridad con las listas pues pueden almacenar variables de cualquier tipo. Sin embargo, su propiedad más importante es que son **inmutables**, por lo que cuando se crean, no pueden ser cambiadas de ninguna forma. 

Se crean de dos formas:

In [20]:

tupla_a = 1,2,3
type(tupla_a)

tuple

In [22]:
tupla_a

(1, 2, 3)

In [24]:
tupla_b = (1,2,3)
type(tupla_b)

tuple

In [ ]:
tupla_a == tupla_b

Sin embargo, la convención es usar los paréntesis para crear las tuplas.  

Al ser inmutables, no pueden ser modificadas

#### Creando una tupla de un solo elemento

Vean que cuando hago una tupla de un solo elemento, pasa algo curioso: no lo reconoce como tal. Como hemos visto antes, en la situación en que estamos escribiendo expresiones, los paréntesis significan priorizar el orden de los cálculos. Lo distintivo de la tupla es la coma ``` , ```

In [ ]:
a = (23233,)
print(type(a))
b = 2,
print(type(b))

In [26]:
### Usando un constructor para la tupla
lst = [1,2,3,4]
tupla_lst = tuple(lst) ## el keyword tuple es el constructor en este caso, y "construye" dicho tipo.
tupla_lst

(1, 2, 3, 4)

In [28]:
#Pueden albergar distintos tipos de datos
tupla_varia = (1, 'b', [1,2,3], False)
tupla_varia

(1, 'b', [1, 2, 3], False)

In [30]:
print(tuple(range(1,20,2)))
print(tuple("aquelarre"))

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)
('a', 'q', 'u', 'e', 'l', 'a', 'r', 'r', 'e')

#### ¿Por qué usar tuplas y no listas? 

Las tuplas tienen varias restricciones, y si aparecen es porque el programa está informando que los datos son "fijos".   
Cuando veamos los diccionarios, nos daremos cuenta que las tuplas pueden ser identificadores (keys), pero las listas no. 

Volviendo a las listas: 
Cuando una lista se altera, el id sigue  siendo el mismo.   
Cuando hacemos una modificación a una tupla, eso no pasa (pues es inmutable)

In [3]:
lst_a = [1,2,3] # aquí creo  una lista
print(id(lst_a))

lst_a.append(4) # le añado un elemento
print(id(lst_a))
# los ids son los mismos

4559469248
4559469248

### Desempaque de tuplas

En programación, podemos usar el "desempaque" de las tuplas:

In [34]:
elem1, elem2 = (1,"ojo")

elem2

'ojo'

In [38]:
### Otro uso del desempaque de tuplas:
nom_mascota = [("Carla", "conejo"), ("Cristina", "gato"), ("Diego", "perro")]
#nombre, mascota
for nombre, mascotaa in nom_mascota:
    print(nombre, " tiene un ", mascotaa)
    #print(elem)

Carla  tiene un  conejo
Cristina  tiene un  gato
Diego  tiene un  perro

Esto es útil cuando queremos retornar más de un elemento de una función.

In [40]:
def grado_escolar(edad):
    
    ''' calcula el grado escolar al que pertences segun tu edad
    Input: 
    edad : int
    output: tupla, compuestad de 
        grado: string
        esp: especifico que grado
    
    '''
    assert edad >= 0
    
    if ((edad < 6) or (edad > 17)):
        return "No está en edad escolar"

    elif ((edad >=6) and (edad < 12)):
        grado = "Primaria"
        if edad == 6:
            esp = "1er grado"
        elif edad == 7:
            esp = "2do grado"
        elif edad == 8:
            esp = "3er grado"
        elif edad == 9:
            esp = "4to grado"
        elif edad == 10:
            esp = "5to grado"
        else:
            esp = "6to grado"      
    else:
        grado = "Secundaria"
        if edad == 12:
            esp = "1er año"
        elif edad == 13:
            esp = "2do año"
        elif edad == 14:
            esp = "3er año"
        elif edad == 15:
            esp = "4to año"
        else:
            esp = "5to año"
            
    return grado, esp

In [42]:
grado_escolar(-1)

AssertionError:

In [48]:
grado_, esp_ = grado_escolar(15)

In [50]:
grado_

'Secundaria'

### Operaciones con tuplas 

Se pueden hacer algunas operaciones con tuplas (eso no significa que las tuplas dejen de ser inmutables)

In [10]:
tupla_a = (1,2,3,4)
tupla_b = (5,6,7,8)
print(tupla_a + tupla_b)

tupla_a - tupla_b ## no se puede restar

(1, 2, 3, 4, 5, 6, 7, 8)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

## Conjuntos

Los conjuntos son tipos de datos **mutables** pero los elementos que los componen  son **únicos**. 

Estos son valores no ordenados. 


Estos son creados usando llaves {}

In [58]:
set_a = {1,2,3,4,4,4,4}
set_mult = {True, False, True, "hola", 1}

set_b = set('abracadabra') ## Utilizando el constructor

In [62]:
set_b

{'a', 'b', 'c', 'd', 'r'}

### Métodos de los conjuntos
```
s1 = {1,2,3,4}
s2 = {3,4,5,6}
```
| Método         | Descripción                                                       | Ejemplo                  |
|----------------|-------------------------------------------------------------------|---------------------------------|
| `add()`       | Añade `x` al conjunto si no existe en este.         | `s1.add(5)`                      |
| `union()`    | Devuelve un nuevo conjunto con todos los elementos de ambos sets. | `new_set = s1.union(s2)`         |
| `update()`   | Añade los elementos de `s2` a `s1`.                                | `s1.update(s2)`                  |
| `intersection()` | Devuelve un nuevo conjunto con los elementos comunes a ambos sets. | `set_comun = s1.intersection(s2)`|
| `difference()`  | Devuelve un nuevo conjunto con los elementos de `s1` que no están en `s2`. | `diff_set = s1.difference(s2)`  |
| `remove()`    | Elimina  `x` del conjunto. Da error si no existe.| `s1.remove(5)`                   |
| `discard()`   | Elimina `x` si existe en este.          | `s1.discard(5)`                  |
| `pop()`        | Elimina y retorna elemento aleatorio del conjunto.            | `element = s1.pop()`             |
| `clear()`      | Elimina todos los elementos del conjunto.                         | `s1.clear()`                     |
| `issubset(s2)` | Verifica si elementos de `s1` están en `s2`.            | `s1.issubset(s2)`               |
| `issuperset(s2)` | Comprueba si todos los elementos de `s2` están en `s1`.          | `s1.issuperset(s2)`             |

In [84]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3  = {3,4,10}

In [86]:
s3.issubset(s1)

False

In [88]:
set_a = set(range(1,10))
set_b = set(range(5,15))

#Unión
#set_a | set_b  # otra forma de hacer unión. 
#print(set_a.union(set_b))

#Intersección
#set_a & set_b # otra forma de hacer intersección
#set_

#Diferencia
#set_a - set_b # otra forma de hacer diferencia
#set_b - set_a # verifica que el resultado sea diferente a la lína anterior anterior. 

# Verificando pertenencia
#1 in set_a

In [90]:
1 in set_a

True

In [92]:
'ua' in 'Juana'

True

In [94]:
1 in [1,2,3]

True

In [96]:
2 in (2,3)

True