# Manejo de bases de datos para las ciencias sociales I

## Introducción

## Introducción 

_Previo: Tipos de datos._ 

Al 2025, Python tiene una serie de librerías que manejan bases de datos tabulares <sup>1</sup>. 

[Pandas](https://pandas.pydata.org/docs/getting_started/index.html) es la librería más popular de Python para realizar análisis de datos. Esta se especializa en trabajar con ciertos tipos de datos. Los más importantes son:

- Data tabular, como los dataframes (o cualquier base de datos estructurada que tengamos).
- Series
- Series de tiempo

Los objetos de Pandas más importantes son 2: 
- Series
- Dataframes (nuestro enfoque principal). 

<sup>1</sup> Recientemente, la discusión ha virado a mejores métodos para tratar big data. Paquetes como dask, y tipos de archivos binarios como parquet, son un punto inicial. Lo importante es lo siguiente: Son extensiones de Pandas! :)



Esta librería es un _must_ en el aprendizaje del análisis de datos, machine learning, etc por una serie de motivos:
- Se integra perfectamente con librerías como scikit-learn (machine learning), matplotlib, seaborn y altair (visualización de datos), statsmodels (modelos estadísticos listos para usar), análisis de texto, análisis espacial (geopandas, etc).

- La gran parte de la comunidad que hace data analysis, y que se apoya mediante foros y demás, usa Pandas. 
- Pandas es muy amplio y tiene muchas funcionalidades.

### 1. Importar pandas

In [3]:
import pandas as pd

### 2. Hacer disponible nuestro dataframe

- Casi siempre trabajaremos con dataframes. 

Pero qué es un dataframe? 


- Es el **objeto** principal de pandas, el cual representa una estructura de datos de dos dimensiones: filas y columnas. 
- Cada fila es una observación o registro;  cada columna, una variable, atributo, _feature_, etc.
- Hay un sólo valor por celda.   
- El dataframe sirve para representar datos tabulares. 


Adicionalmente, todo dataframe tiene un **índice**, que funge como identificador único de cada fila. 
Las columnas no necesitan ello, porque por regla, los nombres ya son su identificador único. Por ello, no se acepta nombres repetidos de columna. 

2 maneras de usar dataframes: crearlo por nosotros mismos ó leer datos.

<img src="../img/db_example.jpeg" width="800">



<br>
</br>

####  Una forma simple de crear dataframes:

- Por filas

In [ ]:


nombres_columnas = ['rural', 'pobreza', 'num_ccpp_urbano', 'desnutricion_cronica',
                   'centros_rural', 'es_juntos']

obs1 = [True, 40, 1, 50, 60, True]
obs2 = [True, 55, 2, 30, 55, True]
obs3 = [False, 25, 3, 40, 40, True]

obs4 = [True, 30, 2, 25, 55, False]

data = [obs1, obs2, obs3, obs4]

#ejemplo_df = pd.DataFrame(data = data, columns = nombres_columnas)

ejemplo_df  = pd.DataFrame(data = data, columns = nombres_columnas)


ejemplo_df

- Por columnas

In [ ]:
# Ejemplo cuna más de anterior clase
df = pd.DataFrame()

df['rural'] = [True, True, False, True, False]
df['pobreza'] = [40, 55, 25, 60, 30]
df['rnum_ccpp_urbano'] =[1,2,3,4,5]
df['rdesnutricion_cronica'] = [50,30,40,20,45]
df['rcentros_rural'] = [60,55,40,50,20]
df['res_juntos'] = [True, True, True, True, True]


## df['cuna_o_no'] = [False, True, True, False, True]
df

### Vectorización:
La vectorización se define como aplicar una operación sobre el conjunto de elementos de un vector, en lugar de hacerlo sobre cada elemento de forma individual. 
Pandas integra dicha vectorización tal que las operaciones se realizan más rápida, fácil y eficientemente.

In [ ]:
# Ejemplo de vectorización:
## Nótese: Aquí creamos un dataframe con un diccionario, donde las llaves son los nombres de las columnas y
#  los valores son listas con los valores de cada columna.
df = pd.DataFrame({'Vec': [1, 2, 3, 4, 5],
                   'NonVec': [1, 2, 3, 4, 5]})

# No vectorizado: Se utiliza un bucle para realizar la operación. 
for i in range(len(df)):
    df.at[i, 'NonVec'] += 10

print(df)
# Vewctorizado: Se llama al nombre de la variable como si fuera un vector.
df['Vec'] = df['Vec'] + 10

print(df)

#### Leyendo la información:  
Los archivos que tenemos pueden estar en distintos formatos: dta, sav, json, csv, txt. Pandas puede leer cualquiera de dichos tipos de archivos. 
Lo importante es que en esencia, todos ellos representan datos **tabulares**, o datos que tienen 


| Método de pandas según file | Tipo de archivo        | Descripción                              |
|------------------|------------------------|------------------------------------------|
| `read_csv()`     | CSV                    | Lee archivos de valores separados por comas (CSV). |
| `read_json()`    | JSON                   | Lee datos estructurados como JSON. |
| `read_stata()`   | Stata                  | Lee archivos de datos en Stata.          |
| `read_spss()`    | SPSS                   | Lee archivos de datos en SPSS.           |
| `read_excel()`   | Excel (xls, xlsx)      | Lee archivos Excel.              |
| `read_pickle()`  | Pickle                 | Lee objetos Python serializados almacenados en archivos Pickle. |
| `read_parquet()` | Parquet                | Lee archivos Parquet.         |
| `read_feather()` | Feather                | Lee archivos Feather.         |
| `read_sql()`     | SQL Query / Database   | Lee de una base de datos usando una consulta SQL. |
| `read_sas()`     | SAS                    | Lee archivos de datos de SAS.            |
| `read_hdf()`     | HDF5                   | Lee archivos HDF5.            |
| `read_orc()`     | ORC                    | Lee archivos ORC.             |
| `read_fwf()`     | Fixed-Width Formatted  | Lee archivos de texto con ancho fijo.    |

- Los métodos están organizados según importancia. 
- Hay otros métodos como `read_html`, `read_orc`, y `read_fwf`. Otros paquetes adicionales leen, por ejemplo, archivos .RData (R).

### Desafíos comunes con archivos de datos. 

Recibir datos de terceros va a ser muy habitual en la labor de data scientists. Algunas situaciones a tener en cuenta (para el futuro), en particular con exceles y csvs, son las siguientes:

Con CSV:
- Problemas con los delimitadores: Lo común es  que el delimitador sea la coma `,`, sin embargo,`|`,  `;` ó incluso `Tab` pueden aparecer, lo que  originará errores de lectura si no se especifica el delimitador correcto. 
- Comillas que no cierran: `"""  ""`. 
- Codificación diferente: 
    - Datos en español en una codificación anglosajona (e.g.) ocasionará caracteres extraños. 
    - Tipo de datos diferente (string en vez de numérico).
- Datos faltantes: la falta de comas puede ocasionar errores en cargar los datos. 
- Saltos de línea no sistemáticos

Con Excel:
- Datos no tabulares: Exceles que no tienen datos tabulares pueden ocasionar errores de lectura. 
- Más de un valor por celda. 
- Fórmulas de excel.

### Trabajando con datos

Hoy nos enfocaremos en la base de datos de postulantes de la Universidad Nacional de Ingeniería: 
https://www.datosabiertos.gob.pe/dataset/postulantes-al-concurso-de-admisi%C3%B3n-de-la-universidad-nacional-de-ingenier%C3%ADa-uni

### Exploración inicial 

Los siguientes son métodos/atributos de exploración que aplicamos sobre el dataframe mismo. 

| Método / Atributo         | Descripción                                                                                             |
|-----------------|---------------------------------------------------------------------------------------------------------|
| `head(n)`/`tail(n)` | Muestra las primeras/últimas n filas del DataFrame.
| `describe()`    | Da estadísticas como el promedio, desviación estándar, mínimo y máximo de **columnas numéricas**. |
| `info()`        | Nos ofrece información importante como los tipos de los atributos y sus valores nulos.     |
| `dtypes`        | Da los tipos de datos del dataframe                                             |
| `shape`         | Informa sobre la dimensión del dataframe en forma de tupla `(nfilas, ncolumnas)` |
| `columns`         | Informa sobre el nombre de las columnas del dataframe. |

In [4]:
## Leyendo los archivos. 
locacion_datos = "aqui  coloca el string con la locación de tus datos"
locacion_datos = "/Users/ccsuehara/Downloads/Datos_abiertos_admision_2021_1_2024_1.csv" # este es el mio
df = pd.read_csv(locacion_datos)

### Explorando los datos:

In [ ]:
#df.describe()
#df.info()
#df.head()
#df.tail(4)

#df.dtypes
#df.shape
#df.columnns

Ahora exploraremos una columna en particular. Aquí se utilizará la exploración para una columna determinada (luego veremos que estas son Series). 

| Método          | Descripción                                                                                       |
|-----------------|---------------------------------------------------------------------------------------------------|
| `unique()`      | Da los valores únicos de la serie.                                                          |
| `nunique()`     | Cuenta cuántos elementos únicos hay en la serie.                                                 |
| `sort_values()` | Ordena la serie.         |
| `value_counts()`| Da distribución de frecuencias de cada valor único de la serie.                                             |


Para datos numéricos:                                                    
`sum()`, `mean()`,  `min()`, `max()`, `mode()`, `median()` ,  `std()`

Ejercicios: 
- Averigua cuáles son los 5 primeros departamentos en donde nacen los postulantes. 
- Cuenta cuántos hombres/mujeres postulan a la UNI. 
- Cuenta cuántos ingresan.  
Hint: value_counts()

#### Cómo seleccionar datos

A veces sólo necesitamos entender una parte de todos nuestros datos. Por ejemplo, queremos ver los datos de los partidos políticos:

In [ ]:
# df['ANIO_NACIMIENTO'].unique()
# df['ANIO_NACIMIENTO'].nunique()
# df['NACIMIENTO_DEPA'].value_counts()
# df['NACIMIENTO_DEPA'].value_counts(normalize = True)

Un dataframe está compuesto de varias series: una columna es una serie diferente.

In [ ]:
type(df['ANIO_NACIMIENTO']) # Forma de acceder a una columna. 
# Otra forma: 
# df.ANIO_NACIMIENTO # Mejor utilizar la anterior! 

# Acceder a varias columnas:
df[['ANIO_NACIMIENTO', 'NACIMIENTO_DEPA']]

In [ ]:
#### Explorando más de una columna:

In [2]:
pd.crosstab(df['NACIMIENTO_DEPA'], df['SEXO']) # esta funcion nos permite hacer tablas cruzadas entre dos columnas.

NameError: name 'pd' is not defined

### Selección de datos

#### Selección de columnas

In [17]:
# por nombre: 
peque_lst = ['ANIO_NACIMIENTO', 'NACIMIENTO_DEPA']

In [ ]:
df_small = df[peque_lst].copy()
df_small

#### Selección y filtración de filas/columnas con ``` iloc``` y ```loc ```

Primero seleccionaremos columnas, para lo que utilizaremos  ``` iloc``` y ```loc ```.

##### Utilizando el iloc
El iloc ubica las observaciones que corresponden al índice que le indicamos. 
Recordando nuestra base de postulantes:

In [ ]:
# Agarrando observaciones puntuales

df.iloc[3]

In [ ]:
# Agarrando observaciones puntuales
rows = [1, 2, 10,13,3000]
df.iloc[rows]

In [ ]:
rows = [10,13, 2]
cols = [2,4,6]
df.iloc[rows, cols]

In [ ]:
# qué pasa si  hago...
#df.iloc[rows, ['COLEGIO_DEPA', 'COLEGIO_PROV', 'COLEGIO_ANIO_EGRESO']]

In [ ]:
df.iloc[:3,:3]

##### Utilizando el ```loc```

El ``` loc``` es una forma de ubicar observaciones que se basa en las etiquetas, tanto de columnas como de filas.

In [ ]:
columnas = ['COLEGIO_DEPA', 'COLEGIO_PROV', 'COLEGIO_ANIO_EGRESO']
filas = range(0,6)
df.loc[filas, columnas]

In [ ]:
df.loc[:, columnas]

#  Con .iloc y .loc, hemos visto nuevas formas de acceder a las filas/columnas de un dataframe:
# df.loc[:, ['ANIO_NACIMIENTO', 'NACIMIENTO_DEPA']]
# df.loc[1:3, ['ANIO_NACIMIENTO', 'NACIMIENTO_DEPA']]
# df.iloc[:, [1, 2]]
# df.iloc[1:3, 2:4]

### Filtrando información

Muchas veces querremos quedarnos con un subconjunto de datos que cumplen cierta condición. Las condiciones tienen que evaluarse a un booleano.

### Filtrando información con condiciones

In [ ]:
# Podemos guardar las condiciones como variables y luego hacer el filtro.

condicion = [True]*(len(df) - 5) + [False] * (5) # Tenemos una lista de booleanons de la longitud del dataframe. 
df[condicion] # Filtramos el dataframe con la condición.

In [ ]:
cond = df['COLEGIO_DEPA'] == 'LIMA'
# explora qué bota el cond. 

df[cond]
# df[cond].reset_index()

In [ ]:
cond_1 = df['COLEGIO_DEPA'] == "LIMA"
cond_2 = df['INGRESO'] == "NO"

cond_filtrado_and = df[cond_1 & cond_2] ## Pregunta: por qué no usamos el and y or, como habíamos visto antes? 

cond_filtrado_or = df[cond_1 | cond_2]

## equivalente a: 
df[(df['COLEGIO_DEPA'] == "LIMA") & (df['INGRESO'] == "NO")] ## necesitamos cerrarlo en paréntesis. 

df[(df['COLEGIO_DEPA'] == "LIMA") | (df['INGRESO'] == "NO")]

# Nota1: Si queremos hacer un filtro con más de una condición, necesitamos cerrar cada condición en paréntesis.
# Nota2: Podemos almacenar el resultado como una variable, que será un dataframe nuevo.

In [ ]:
## Ejercicio: Filtra el dataframe para que solo te quedes con las observaciones que sean de Lima y que hayan ingresado.

In [5]:
df

,IDHASH,COLEGIO,COLEGIO_DEPA,COLEGIO_PROV,COLEGIO_DIST,COLEGIO_PAIS,COLEGIO_ANIO_EGRESO,ESPECIALIDAD,ANIO_POSTULA,CICLO_POSTULA,...,DOMICILIO_DIST,ANIO_NACIMIENTO,NACIMIENTO_PAIS,NACIMIENTO_DEPA,NACIMIENTO_PROV,NACIMIENTO_DIST,SEXO,CALIF_FINAL,INGRESO,MODALIDAD
0,E4287C2FE19F63C5E6641955147E36684A5A2FF8064676...,LA DIVINA PROVIDENCIA,LIMA,LIMA,SURQUILLO,PERÚ,2020,INGENIERÍA DE SISTEMAS,2021,1,...,SAN JUAN DE MIRAFLORES,2004,PERÚ,LIMA,LIMA,VILLA EL SALVADOR,MASCULINO,3.110,NO,EXTRAORDINARIO1 - DEPORTISTAS CALIFICADOS DE A...
1,2DC37F0B9727B6591EC72D7A942647797A200F45D47C9E...,86019 LA LIBERTAD,ÁNCASH,HUARAZ,HUARAZ,PERÚ,2017,INGENIERÍA DE TELECOMUNICACIONES,2021,1,...,HUARAZ,2001,PERÚ,ÁNCASH,HUARAZ,HUARAZ,FEMENINO,3.580,NO,ORDINARIO
2,3B8677B90781D7BB8F2F967C05FA2DBBE153BBB682DF05...,0113 DANIEL ALOMIAS ROBLES,LIMA,LIMA,SAN JUAN DE LURIGANCHO,PERÚ,2016,INGENIERÍA MECÁNICA,2021,1,...,SAN JUAN DE LURIGANCHO,2000,PERÚ,LIMA,LIMA,JESÚS MARÍA,MASCULINO,8.040,NO,ORDINARIO
3,FA366704D9E9F6FB5E5F55C1FB0CEEE973C626A5616F55...,SEBASTIAN SALAZAR BONDY,LIMA,LIMA,SANTA ANITA,PERÚ,2018,INGENIERÍA ELECTRÓNICA,2021,1,...,SANTA ANITA,2002,PERÚ,LIMA,LIMA,LIMA,MASCULINO,10.820,NO,EXTRAORDINARIO2 – INGRESO DIRECTO CEPRE
4,E31CF8F30F3AE60B3D8A14F6E1020E9AD26EE975F0823B...,TRILCE LOS OLIVOS,LIMA,LIMA,SAN MARTÍN DE PORRES,PERÚ,2020,ARQUITECTURA,2021,1,...,INDEPENDENCIA,2004,PERÚ,LIMA,LIMA,COMAS,FEMENINO,6.210,NO,ORDINARIO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42511,370728AB03E7ECDE69265AC64B0A682887B0BA3E40644F...,BARTOLOME HERRERA,LIMA,LIMA,SAN MIGUEL,NaN,2019,INGENIERÍA CIVIL,2023,1,...,LA PERLA,2002,PERÚ,CALLAO,PROV CONST DEL CALLAO,BELLAVISTA,MASCULINO,5.906,NO,ORDINARIO
42512,C03C7AC74210DA0F4862BFEDAE45CF3BB5AE9813FCF409...,FE Y ALEGRIA 59,CALLAO,PROV CONST DEL CALLAO,VENTANILLA,NaN,2021,INGENIERÍA CIVIL,2023,1,...,VENTANILLA,2004,PERÚ,CALLAO,PROV CONST DEL CALLAO,CALLAO,FEMENINO,2.621,NO,ORDINARIO
42513,E6337F43BAEF0F59EDF11F6F16A47A908717DE288B7886...,CIENCIAS,AYACUCHO,HUAMANGA,SAN JUAN BAUTISTA,NaN,2022,ARQUITECTURA,2023,1,...,AYACUCHO,2006,PERÚ,AYACUCHO,HUAMANGA,AYACUCHO,FEMENINO,7.974,NO,ORDINARIO
42514,13F7CD09C661B02F61218445885DA7C4FDBD87392F7522...,SAN CARLOS,LIMA,LIMA,LURIGANCHO,NaN,2021,ARQUITECTURA,2023,1,...,LURIGANCHO,2004,PERÚ,LIMA,LIMA,MIRAFLORES,FEMENINO,9.477,NO,ORDINARIO
42515,89BFAB90B1C8C25D61557264958F988E305385A9351B5C...,TRILCE SAN JUAN,LIMA,LIMA,SAN JUAN DE LURIGANCHO,NaN,2021,INGENIERÍA DE SISTEMAS,2023,1,...,SAN JUAN DE LURIGANCHO,2005,PERÚ,LIMA,LIMA,SAN JUAN DE LURIGANCHO,MASCULINO,7.228,NO,ORDINARIO

## Filtrando información 
Pandas tiene una serie de métodos para filtrar información: 


| Método         | Ejemplo de uso                                                                                                        |
|----------------|-----------------------------------------------------------------------------------------------------------------------|
| `loc`          | `df.loc[(df['ANIO_POSTULA'] > 2020) & (df['ANIO_NACIMIENTO'] < 2000), 'ANIO_NACIMIENTO']`    |
| `iloc`         | `df.iloc[0:5, 0:2]` Accede a las primeras 5 filas y primeras 2 columnas.                                                |
| `query`        | `df.query('(ANIO_POSTULA > 2020) & (ANIO_NACIMIENTO < 2000)')` 
| `filter`       | `df.filter(items=['ANIO_NACIMIENTO', 'ANIO_POSTULA'])`                                          |
| `where`        | `df.where((df['ANIO_POSTULA'] > 2020) & (df['ANIO_NACIMIENTO'] < 2000))` Preserva shape pero rellena con Nan     |
| `mask`         | `df.mask((df['ANIO_POSTULA'] > 2020) & (df['ANIO_NACIMIENTO'] < 2000))` Cambia a NaN los valores donde 'A' > 1 y 'B' < 6.                            |
| `isin`         | `df[df['ANIO_NACIMIENTO'].isin([2000, 2001])]`

## Ejercicio: 
1. Filtra el dataframe y quédate con quienes postularon a la 'ESPECIALIDAD' de INGENIERÍA MECATRÓNICA y cuyo lugar de nacimiento sea Callao. 
2. Filtra el dataframe y quédate con los postulantes cuyo país de estudio no haya sido Perú. 
3. Filtra el dataframe y quédate con los postulantes de nacieron en Cajamarca y sí ingresaron.
4. Filtra el dataframe y quédate con los postulantes que obtuvieron una calificación final mayor a 17 e ingresaron por modalidad ordinario.